*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
html{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
    background-color: black;
}
header {
    /* background: hsl(220, 73%, 13%); */
    height: 80px;
    overflow: none;
}
label img{
    width: 100px;
    height: auto;
    margin-top: -10px;
    margin-left: 20px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li {
    color: white;
    display: inline-block;
    line-height: 80px;
    margin: 0 30px;
}
nav ul li a {
    color: white;
    text-transform: uppercase;
}
.checkbtn {
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-top: 25px;
}

.hamburger-lines {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px 0;
    background-color: white;
    transition: transform 0.5s ease, opacity 0.3s ease;
}
/* First Page */
section{
    margin: 0 20px;
}
.intro{
    display: flex;
    justify-content: center;
    /* line-height: 0; */
    padding-top: 160px;
    position: relative;
    background-color: wheat;
    padding-bottom: 100px;
    /* text-align: center; */
}
.intro p {
    margin: 0; 
}
.intro-div {
    position: relative;
    z-index: 2; 
}
.AF1{
    width: auto;
    height: 400px;
    transform: rotate(-10deg); 
    z-index: 2; 
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translate(-50%, -50%) rotate(-15deg);
    z-index: 1;
    
}
.the{
    font-weight: 100;
    margin-top: 1 0px;
    line-height: 0.6;
    font-size: 200px;
    color: black;
    text-shadow: -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;
    position: relative;
    z-index: 1;
    opacity: 0.8;
    /* padding-left: 100px; */
}
.converse{
    font-size: 100px;
    font-weight: 900;
    z-index: 3;
    color: rgb(240, 199, 124);
    /* text-shadow: -1px -1px 0 #fff,  
    1px -1px 0 #fff,
    -1px 1px 0 #fff,
    1px 1px 0 #fff;; */
    text-shadow: -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;;
    letter-spacing: -9px;
    line-height: 0.8;
    /* padding-left: 50px; */
    position: relative; 
    z-index: 3;
    margin-top: -140px;
    margin-left: 500px;
}
.step{
    /* margin-bottom: 200px; */
    bottom: 9px;
    position: relative;
    padding-left: 6px;
    color: #000;
    font-weight: 900;
}
/* Second page */
.page-two{
    background-color: #fff;
    padding-top: 100px;   
}
.value-pack{
    display: flex;
    justify-items: space-between;

    /* width: 100%; */
}

/* Media queries */
@media (max-width: 925px) { 
    nav ul li a{
        font-size: 16px;
    }
}
@media (max-width: 858px) { 
    .checkbtn{
        display: block;
    }
    .cross-line-first {
        transform: translateY(8px) rotate(-45deg);
        transition: .5s; 
    }
    .cross-line-last {
        transform: translateY(-8px) rotate(45deg);
        transition: .5s; 
    }
    .hide-line {
        opacity: 0;
    }
    ul{
        position: fixed;
        display: none;
        width: 100%;
        height: 100vh;
        top: 80px;/*Here*/
        left: -100;
        text-align: center;
        background: rgb(9, 15, 31);
        transition: all .5s;
    } 
    .show-menu {
        display: block; 
        left: 0;
    }
    /* .nav-menu {
        display: block; 
    } */
    nav ul li a{
        font-size: 20px;
    }
    #check:checked ~ ul{
        left: 0;
    }
}